body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../../images/background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: "Poppins", "Open Sans", sans-serif;
}
.nav {
    height: 70px;
    width: 95%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
/* Split Left */
.split-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}
.menu {
    margin-left: 2rem;
}
.menu-link {
    text-decoration: none;
    color: rgba(0,0,0,0.40);
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.5s ease;
}
.menu-link.active {
    font-weight: bold;
    color: #333;
    position: relative;
}
.menu-link.active::after {
    content: "";
    height: 3px;
    width: 20px;
    border-radius: 20px;
    background: #333;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-link:hover {
    color: #333;
}
.nav .split-left h1 {
    color: #333;
    font-size: 18px;
    position: relative;
}
.nav .split-left h1::after {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: #333;
    position: absolute;
    bottom: 3px;
    right: -7px;
}

/* Split Right */
.split-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
.split-right button {
    height: 40px;
    width: 100px;
    background: transparent;
    border-radius: 5px;
    color: tomato;
    margin-right: 10px;
    border: 2px solid tomato;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.split-right button:first-child {
    background: tomato;
    color: #fff;
}

/* MAIN */
main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper-inner .left-pane,
.wrapper-inner .right-pane {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
<<<<<<< HEAD
.wrapper-inner .right-pane {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
=======



>>>>>>> e31b3117bf180afae9bae8586d9799242b9f3264
.wrapper-inner .left-pane {
    padding-left: 3rem;
}
.wrapper-inner .left-pane h1 {
    width: 90%;
    margin: 0;
    color: #333;
    border-left: 5px solid tomato;
    padding-left: 1rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Poppins", "Open Sans", sans-serif;
}
.wrapper-inner .left-pane p {
    width: 70%;
    color: #555;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    font-family: "Poppins", "Open Sans", sans-serif;
}
.wrapper-inner .left-pane div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.wrapper-inner .left-pane div a,
.wrapper-inner .left-pane div button {
    height: 40px;
    width: 150px;
    border: none;
    background: tomato;
    color: #fff;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.wrapper-inner .left-pane div a:last-child {
    border: 2px solid tomato;
    background: transparent;
    color: tomato;
}
.wrapper-inner .right-pane img {
    height: auto;
    max-width: 90%;
}