.nav {
    height: 70px;
    width: 95%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  /* Split Left */
  .split-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  .menu {
    margin-left: 2rem;
  }
  .menu-link {
    text-decoration: none;
    color: rgba(0,0,0,0.40);
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.5s ease;
  }
  .menu-link.active {
    font-weight: bold;
    color: #333;
    position: relative;
  }
  .menu-link.active::after {
    content: "";
    height: 3px;
    width: 20px;
    border-radius: 20px;
    background: #333;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-link:hover {
    color: #333;
  }
  .nav .split-left h1 {
    color: #333;
    font-size: 18px;
    position: relative;
  }
  .nav .split-left h1::after {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: #333;
    position: absolute;
    bottom: 3px;
    right: -7px;
  }
  
  /* Split Right */
  .split-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }
  .split-right button {
    height: 40px;
    width: 100px;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  .split-right button:first-child {
    background: #fff;
    color: #000;
  }


  .nav {
    height: 70px;
    width: 95%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  /* Split Left */
  .split-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  .menu {
    margin-left: 2rem;
  }
  .menu-link {
    text-decoration: none;
    color: rgba(0,0,0,0.40);
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.5s ease;
  }
  .menu-link.active {
    font-weight: bold;
    color: #333;
    position: relative;
  }
  .menu-link.active::after {
    content: "";
    height: 3px;
    width: 20px;
    border-radius: 20px;
    background: #333;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-link:hover {
    color: #333;
  }
  .nav .split-left h1 {
    color: #333;
    font-size: 18px;
    position: relative;
  }
  .nav .split-left h1::after {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: #333;
    position: absolute;
    bottom: 3px;
    right: -7px;
  }
  
  /* Split Right */
  .split-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }
  .split-right button {
    height: 40px;
    width: 100px;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  .split-right button:first-child {
    background: #fff;
    color: #000;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    #box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: #FCCA9A;
    }
    
    #content {
      margin-top: 100px;
      box-shadow: 0 0 10px #000;
      padding: 15px;
      border-radius: 15px;
      background-color: #FEE5B3;
      flex-flow: row wrap;
      width: 85%;
      max-width: 450px;
      transition: 0.3s;
    }
    
    #content:hover {
      transform: scale(1.05);
    }
    
    .inp_box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
    }
    
    .inp_box span {
      margin-left: 10px;
      font-weight: bolder;
      text-transform: capitalize;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    #weight_inp,
    #height_inp {
      padding: 9px;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      border: 2px solid black;
      border-radius: 5px;
      width: 100%;
    }
    
    #bmi_range {
      margin-top: 15px;
      --thumb: black;
      width: 100%;
      appearance: none;
    }
    
    #bmi_range::-webkit-slider-runnable-track {
      appearance: none;
      background-color: #fbf4e9;
    }
    
    #bmi_range::-webkit-slider-thumb {
      appearance: none;
      background-color: var(--thumb);
      height: 20px;
      width: 15px;
      clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    }
    
    #scale {
      width: 100%;
      height: 30px;
      background: linear-gradient(90deg, orange, cyan, orange);
    }
    
    #bmi_result {
      width: 100%;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 30px;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    #bmi_status {
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 20px;
      text-transform: capitalize;
    }
    
    :root {
      --green: #606060FF;
      --dark-color: #219150;
      --black: #444;
      --light-color: #666;
      --border: 0.1rem solid rgba(0, 0, 0, 0.1);
      --border-hover: 0.1rem solid var(--black);
      --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
    
    
    * {
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.2s linear;
      transition: width none;
    }
    
    html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-padding-top: 5rem;
      scroll-behavior: smooth;
    }
    
    html::-webkit-scrollbar {
      width: 1rem;
    }
    
    html::-webkit-scrollbar-track {
      background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
      background: var(--black);
    }
    
    section {
      padding: 5rem 9%;
    }
    
    .heading {
      text-align: center;
      margin-bottom: 2rem;
      position: relative;
    }
    
    .heading::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 0.01rem;
      background: rgba(0, 0, 0, 0.1);
      z-index: -1;
    }
    
    .heading span {
      font-size: 3rem;
      padding: 0.5rem 2rem;
      color: var(--black);
      background: rgb(255, 255, 255);
      border: var(--border);
    }
    
    .btn {
      margin-top: 1rem;
      display: inline-block;
      padding: 0.9rem 3rem;
      border-radius: 0.5rem;
      color: rgb(243, 245, 243);
      background: var(--green);
      font-size: 1.7rem;
      cursor: pointer;
      font-weight: 500;
    }
    
    .btn:hover {
      background: var(--dark-color);
    }
    
    gallery .box-container{
      display: flex;
      flex-wrap: wrap;
      gap:1.5rem;
    }
    
    .gallery .box-container .box{
      overflow: hidden;
      box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
      border:1rem solid #fff;
      border-radius: .5rem;
      flex:1 1 30rem;
      height: 25rem;
      position: relative;
    }
    
    .gallery .box-container .box img{
      height: 100%;
      width:100%;
      object-fit: cover;
    }
    
    .gallery .box-container .box .content{
      position: absolute;
      top:-100%; left:0;
      height: 100%;
      width:100%;
      text-align: center;
      background:rgba(0,0,0,.7);
      padding:2rem;
      /* padding-top: 5rem; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .gallery .box-container .box:hover .content{
      top:0;
    }
    
    .gallery .box-container .box .content h3{
      /* font-size: 2.5rem; */
      font-size: 2rem;
      color:var(--green);
    }
    
    .gallery .box-container .box .content p{
      /* font-size: 1.5rem; */
      font-size: 1.3rem;
      color:#eee;
      padding:.5rem 0;
    }
    
    .gallery .btn{
      border-radius: 0;
    }
  
    .modalCommande {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
  }
  .modalCommande-content {
      background-color: #fefefe;
      border: 1px solid #888;
      position: absolute;
      float: left;
      margin: auto;
      padding: 20px;
      width: 50%;
      top: 30%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }