<html>
<body>
<section class="contact" id="contact">
  <h1 class="heading"> <span>Contact</span> </h1>
  <div class="row">
      <div class="image">
          <img src="https://thumbs.dreamstime.com/b/red-heart-shape-medical-stethoscope-light-background-top-view-health-care-medicare-cardiology-concept-blue-104679825.jpg" alt="">
      </div>
      <form action="">
          <div class="inputBox">
              <input type="text" placeholder="name">
              <input type="email" placeholder="email">
          </div>
          <div class="inputBox">
              <input type="number" placeholder="number">
              <input type="text" placeholder="subject">
          </div>
          <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
          <input type="submit" class="btn" value="send message">
      </form>
  </div>
  <div class="just-line"></div>
</section>
    
  </body>
</html>
